@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    color: white;
    text-align: center;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    width: 100%;
    margin: 0 auto;
}

.title > * {
    width: 100%;
}